<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>
    <body>
        <!-- Responsive navbar-->
        <%- include('navbar.ejs') %>
        <!-- Header-->
        
        <%- body %>
       
        <%- include('footer.ejs') %>
       
        
    </body>
</html>
